@font-face {
    font-family: myFont;
    src: url(../fonts/arcadeclassic/ARCADECLASSIC.TTF);
    font-family: subFont;
    src: url(../fonts/elf-boy-classic-font/Elfboyclassic-PKZgZ.ttf);
    /* font-display: auto; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "subFont", Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #222;
    word-spacing: 1rem;
    /* font-family: "myFont"; */
}

/* Layout */
.header {
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 4px 7px 8px #fff;
}

.main {
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Style */
.header h1 {
    font-size: 12rem;
    margin: 3rem 0rem;
}

.header p {
    font-size: 6rem;
}

.level {
    display: flex;
    flex-direction: column;
    font-size: 8rem;
    color: #fff;
    align-items: center;
    width: max-content;
}

.level p {
    width: max-content;
}

a:link,
a:visited,
a:active,
a:focus {
    display: inline-flex;
    margin-right: 1.5rem;
    text-decoration: none;
    color: #fff;
}

a:hover {
    transform: translateY(-3px);
}

/* Media Queries */
@media only screen and (min-width: 300px) and (max-width: 420px) and (orientation: portrait) {
    html {
        font-size: 35%;
    }

    .header {
        justify-content: center;
        padding-bottom: 2rem;
    }

    .header p {
        margin-bottom: 2rem;
    }

    .level a {
        margin-bottom: 4rem;
    }
}

@media only screen and (min-width: 421px) and (max-width: 800px) {
    html {
        font-size: 45%;
    }

    .header {
        justify-content: center;
    }
    .header h1 {
        margin: 1rem 0;
    }

    .header p {
        margin: 1rem 0;
    }

    .level {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .level a {
        width: max-content;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
    html {
        font-size: 60%;
    }

    .header {
        justify-content: center;
    }

    .level {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .level a {
        width: max-content;
        margin-bottom: 4rem;
    }
}
